*{
  margin:0;
  padding:0; 
  box-sizing:border-box;
  text-decoration:none;
  outline:none;
  border:none; 
  transition:all .2s linear;
}

::placeholder{
  color:black;
}
html{
  font-size:62.5%;
  overflow-x:hidden;
}

html::-webkit-scrollbar{
  width:1.4rem;
}

html::-webkit-scrollbar-track{
   background:rgb(84, 14, 84);
}
.home p{
  color:rgb(84, 14, 84);
  font-size:50px;
}
body{
  background:gray;
  overflow-x:hidden;
  padding-left:35rem;
}
section
{
  min-height:100vh;
  padding:1rem;
}
.btn{
  padding:1rem 3rem;
  background:#333;
  color:#fff;
  cursor:pointer;
  margin-top:1rem;
  font-size:2rem;
  border-radius:2rem;
}
.btn i{
  padding:0 .5rem;
  font-size:1.8rem;
}
.btn:hover{
  background:rgb(75, 11, 75);
}
header{
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
  height:100%;
  width:35rem;
  background:rgb(75, 11, 75);
  display:flex;
  align-items:center;
  flex-flow:column;
  text-align:center;
}
header .user img{
  height:17rem;
  width:17rem;
  border-radius: 50%;
  object-fit:cover;
  margin-bottom:1rem;
  border:.7rem solid;
}
header .user .name{
  font-size:3.5rem;
  color:#fff;
}
header .navbar{
  width:100%;
}
header .navbar ul{
 list-style:none;
 padding:10px 20px;
}
header .navbar ul li a{
  display:block;
  padding:1rem;
  margin:1.5rem 0;
  background:#fff;
  color:#333;
  font-size:20px;
  border-radius:1rem;
}

header .navbar ul li a:hover{
  background:rgb(233, 134, 233);
}

#menu{
  position:fixed;
  top:2rem;right:2rem;
  background:#333;
  color:#fff;
  cursor:pointer;
  font-size:2.5rem;
  padding:1rem 1.5rem;
  z-index:1000;
  display:none;
}
.home{
  display:flex;
  justify-content:center;
  flex-flow:column;
  padding:0 15rem;
}
.home h3{
  font-size:2.5rem;
  color:#fff;
}
.home h1{
   font-size:5rem;
   color:#fff;
}
.home .p{
  font-size:5rem;
  color:#eee;
  padding:1rem 0;

}

.heading{
  text-align:center;
  margin:0 6rem;
  font-size:4rem;
  padding:1rem;
  border-bottom:1rem solid #fff4;
  color:#fff;
}

.heading span{
  color:rgb(75, 21, 75);
}

.about .row{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
  padding:1rem 0;
}

.about .info p1{
  margin-top:30px;
  font-size:23px;
  color:rgb(74, 11, 74);
}

.about .row .info{
  flex:1 1 48rem;
  padding:2rem 1rem;
  padding-left:6rem;
}

.about .row .info p{
color:rgb(74, 11, 74);
margin-top:50px;
font-size:23px;
text-align: justify;
}

.contact .row{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}
.contact .row .content{
flex:1 1 30rem;
padding:4rem;
padding-bottom:0;
}
.contact .row form{
  flex:1 1 45rem;
  padding:2rem;
  margin:2rem;
  margin-bottom:4rem;
}

.contact .row form .box{
padding:1.5rem;
margin:1rem 0;
background:#3333;
color:#ffff;
text-transform:none;
font-size:1.7rem;
width:100%;
}

.contact .row form .message{
  height:10rem;
  resize:none;
}

.contact .row .content .title{
  text-transform:uppercase;
  color:#fff;
  font-size:3rem;
  padding-bottom:2rem;
}

.contact .row .content .info h3{
  display:flex;
  align-items:center;
  font-size:2rem;
  color:#eee;
  padding:1rem 0;
  font-weight:normal;
}
.contact .row .content .info h3 i{
  padding-right:1rem;
  color:rgb(84, 14, 84);
}

.skills-content{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,auto));
  align-items:center;
  gap:2.5rem;
  margin-top:5rem;
}
.skills-content .box h3{
  color:#eee;
}

.box{
  background:rgb(84, 14, 84);
  padding:35px 45px;
  border-radius:8px;
  transition: all .45s ease;
}

.s-icons i{
  font-size:32px;
  margin-bottom:20px;
}

.box h3{
  font-size:24px;
  font-weight:600px;
  color:#eee;
  margin-bottom:15px;
 

}

.box:hover{
  transform:translateY(-8px);
  cursor:pointer;
}
.Skills .heading span{
  color:rgb(84, 14, 84);
}

.box1{
  margin-top:20px;
  background:rgb(84, 14, 84);
  padding:10px 30px;
  border-radius:15px;
  transition: all .45s ease;

}

.box1 h3{
  margin-top:10px;
  font-size:15px;
  font-weight:600px;
  color:#eee;
  margin-bottom:15px;
 

}

.box1:hover{
  transform:translateY(-8px);
  cursor:pointer;
}

.contact .title{
  margin-bottom:10px;
}

.contact .info{
  margin-bottom:15px;
}
